{
  "plugins": [
    "transform-class-properties",
    "syntax-decorators",
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ],
  "presets": [
    ["es2015", {"modules": false}],
    "react",
    "stage-0",
  ]
}
